*{
    margin: 0;
    padding:0;
    font-family:'Poppins', 'sans-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg, black, whitesmoke);
}
.todo-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
}
.input-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.input-box input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid #4e085f;
    display: inline-block;
}
.btn{
    padding: 10px 20px;
    background: linear-gradient(135deg,grey,grey) ;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 400px){
    .todo-app{
        width: 100%;
        padding: 20px;
        margin-top: 100px; 
    }
    .input-box{
        flex-direction: column;
        align-items: flex-start; 
    }
    .input-box input{
        width: 100%;
    }
    .btn{
        width: 100%; 
        margin-top: 20px; 
    }
    ol li{
        padding: 8px 0; 
    }
    ol li::before{
        left: 0; 
    }
    ol li span{
        top: 0; 
        right: 0;
    }
}

    
h2{
    color:#4e085f;
    text-align: center;
    margin-bottom: 20px;
}
ol li{
    list-style: none;
    font-style: italic;
    font-size: 18px;
    padding: 12px 8px 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ol li::before{
    content:'';
    position: absolute;
    height:28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: -30px;
}
ol li.checked{
    color: #555;
}
ol li.checked{
    color: #555;
    text-decoration: line-through;

}
ol li.checked::before{
    background-image: url(images/checked.png);

}
ol li span{
    position: absolute;
    top: 10px;
    right: -30px;
    width: 30px;
    height: 30px;
    font-size: 22px;
}
ol li span:hover {
    background: grey;
    color: #fff;
    border-radius: 50%;
}





    




    
